<div ng-controller="AddCommunityController as vm">
 <div>
   <md-subheader style="background-color: rgb(224, 224, 235); text-align: center; width: 100%" class="greyBar md-no-sticky">
     <h1>ADD YOUR COMMUNITY</h1>
   </md-subheader>
 </div>

 <p layout-padding>
   Each community will be a stylistically unique group of craft cocktails. Users will be allowed to create communities and add drink recipes to any and all communities. Below you may create a community name and then you may go into that community to add
   recipes.
 </p>

 <form ng-submit="vm.addCommunity()" layout="row">

   <div flex="40">
     <md-input-container layout-padding>
       <label>Name...</label>
       <input required ng-model="vm.community.name" style="width: 100%" />
     </md-input-container>
     <br>
     <div layout="row" style="padding-top:50px">
       <md-button type="submit" class="md-raised">Add Community</md-button>
       <md-button type="button" class="md-raised" ui-sref="Home">Cancel</md-button>
     </div>
   </div>

   <md-input-container flex="30" layout-padding>
     <label>Colors:</label>
     <md-select ng-model="vm.community.color">
       <md-option style="background-color: {{color}}" ng-repeat="color in vm.colors">{{color}}</md-option>
     </md-select>
   </md-input-container>

   <md-input-container flex="30" layout-padding>
     <label>Icons:</label>
     <md-select ng-model="vm.community.icon">
       <md-option ng-repeat="i in vm.icons"><i class="{{i}}"> {{i}}</i></md-option>
     </md-select>
   </md-input-container>
 </form>

</div>
