<div ng-controller="HomeController as vm">
  <div >
  <md-subheader style="background-color: rgb(224, 224, 235); width: 100%; text-align:center " class="greyBar md-no-sticky"><h1>Browse our communities to find craft cocktail recipes</h1></md-subheader>
  </div>

<div>

  <md-grid-list
    md-cols-gt-sm="6" md-cols-sm="6"
    md-row-height-gt-md="1:1" md-row-height="5:3"
    md-row-height="150px" style="margin: 16px"
     md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" >


     <md-grid-tile md-rowspan="2" class="gridButton" class="plus" md-colspan="2" ui-sref="AddCommunity" style="background-color: #448aff; color: white; text-align: center;">
       <img src="http://4vector.com/i/free-vector-simple-graphic-decorative-icon-vector-1-single-download-available_019158_png1/Add%20512x512.png" alt="plus sign" height="300px" />
       <h3 id="addCom">Add Community</h3>
       <!-- <i class="zmdi zmdi-plus-square"></i>
       <br>
       <h3>Click here to add a community</h3> -->
     </md-grid-tile>


  <md-grid-tile ng-repeat="a in vm.communities" class="gridButton md-ink-ripple" ng-click="vm.goToCom(a._id)" style="background-color: {{a.color}};" >
    <i class="{{a.icon}}"></i>
  <md-grid-tile-footer id="foot"><h3 id="fh">{{a.name}}</h3></md-grid-tile-footer>
  </md-grid-tile>



</md-grid-list>

</div>

</div>
