<div ng-controller="ProfileController as vm">

  <div >
  <md-subheader style="background-color: rgb(224, 224, 235); width: 100%; text-align: center;" class="greyBar md-no-sticky"><h1>Thank you, {{nav.status.username | uppercase}}, for the following contributions:</h1></md-subheader>
  </div>

<md-grid-list md-cols-gt-sm="2" md-cols-sm="2" md-row-height-gt-md="1:1" md-row-height="5:3" md-row-height="150px" style="margin: 30px" md-gutter-gt-md="40px" md-gutter-gt-sm="8px" md-gutter="4px">

  <md-grid-tile style="background-color:#b9f6ca;">
    <md-grid-tile-header class="head">
      <p class="tileHeader">Communities you have added</p>
  </md-grid-tile-header>
    <div layout="column" class="recipeBodyTile">
      <div flex>
        <ol ng-repeat="c in vm.recipearray.communities">
          <li style="font-size: 30px;">{{c.name}}</li>
        </ol>
      </div>
    </div>
  </md-grid-tile>

  <md-grid-tile style = "background-color:#b388ff;">
    <md-grid-tile-header class="head">
      <p class="tileHeader">Recipies you have added</p>
  </md-grid-tile-header>
    <div layout="column" class="recipeBodyTile">
      <div flex>
        <ol ng-repeat="r in vm.recipearray.recipes">
          <li style="font-size: 30px;">{{r.name}} </li>
        </ol>
      </div>
    </div>
  </md-grid-tile>

</md-grid-list>

</div>
