<div ng-controller="ProfileController as vm">

 <div >
   <md-subheader style="background-color: rgb(224, 224, 235); width: 100%" class="md-no-sticky"><h1>{{nav.status.username}}'s Stuff</h1></md-subheader>
 </div>

 <h2>Communites you have added:</h2>
 <div ng-repeat='c in vm.recipearray.communities' class="well container">
   <ul>
     <li > {{c.name}} </li>
   </ul>
 </div>

 <h2>Recipes you have added:</h2>
 <div ng-repeat='r in vm.recipearray.recipes'>
   <ul>
     <li > {{r.name}} </li>
   </ul>
 </div>


</div>
