<div ng-controller="ViewCommunityController as vm" ng-cloak>
  <md-content>

    <div style="background-color: rgb(224, 224, 235)" layout="row">
    <md-subheader flex style="background-color: rgb(224, 224, 235); text-align: center;" class="md-no-sticky"><h1>Community for all things {{vm.communities.name}} related</h1></md-subheader>
    <md-button flex="3" type="button" style="text-align: right; min-width: 10px" ng-click="vm.deleteCommunity()">X</md-button>
  </div>

    <div style="text-align:center; padding-top: 25px;">
      <md-button class="md-raised" ng-click="vm.goToAddRecipe()" style="font-size: 28px;">Add A Recipe!</md-button>
    </div>

    <div layout="row" layout-align="center center">
      <md-list>
        <md-list-item style="padding: 25px 50px 50px 50px; position: relative;" ng-repeat="b in vm.recipes">
          <div class="md-list-item-text" layout="column">
            <h2>{{b.name}}</h2>


            <h3>Ingredients:</h3>
            <br>
            <section layout="column" layout-wrap>
              <span ng-repeat="c in b.ingredients">
                <md-list-item><span style="font-size: 16px;">{{c.choice}}</span>
                  <span>-</span>
                  {{c.amount}}</li>
              </span>
            </section>
            <br>

            <h3>Instructions:</h3>
            <p>{{b.instructions}}</p>

            <span style="display: inline-block;">
            <md-button class="md-raised">Edit</md-button>
            <md-button class="md-raised" ng-click="vm.deleteRecipe(b)">Delete</md-button>
            </span>

            <md-divider></md-divider>
          </div>
        </md-list-item>
      </md-list>
    </div>

  </md-content>
</div>
</div>
