<div ng-controller="ViewCommunityController as vm" ng-cloak>
  <md-content>

    <div style="background-color: rgb(224, 224, 235)" layout="row">
      <div flex="11"></div>

      <md-subheader flex style="background-color: rgb(224, 224, 235); text-align: center;" class="greyBar md-no-sticky">
        <h1 >{{vm.communities.name | uppercase}} Community</h1>
      </md-subheader>
      <md-button flex="3" type="button" style="text-align: right; min-width: 10px" ng-click="vm.deleteCommunity()" ng-show ='nav.status.username;'>X</md-button>
      <md-button flex="8" type="button" class="md-flat" ng-click='showEdit = true' ng-show ='nav.status.username;' > Edit </md-button>
    </div>

    <div layout="row">
      <div flex="25">
      </div>
      <div flex="50">
        <form ng-init="editedCom = vm.getCopy(com);" ng-show="showEdit" class="container well" ng-submit="vm.editCom(editedCom); showEdit = false;">
          <md-input-container>
            <label>{{vm.communities.name}}</label>
            <input class="form-control" ng-model='editedCom.name' required>
          </md-input-container>
          <div style="text-align: center;">
            <md-button type="submit" class="btn btn-success">Submit</md-button>
            <md-button type="button" class="btn btn-danger" ng-click="showEdit = false;">Cancel</md-button>
          </div>
        </form>
      </div>
    </div>



    <md-grid-list md-cols-gt-sm="4" md-cols-sm="2" md-row-height-gt-md="1:1" md-row-height="5:3" md-row-height="150px" style="margin: 30px" md-gutter-gt-md="40px" md-gutter-gt-sm="8px" md-gutter="4px">

      <md-grid-tile class="gridButton md-ink-ripple" ng-click="vm.goToAddRecipe()" style="background-color: #448aff; color: white; text-align: center;">
        Add Recipe
      </md-grid-tile>

      <md-grid-tile md-rowspan="2" ng-repeat="b in vm.recipes" style="background-color: {{b.color}};">
        <md-grid-tile-header class="head">
          <p class="tileHeader">{{b.name | uppercase}}</p>
      </md-grid-tile-header>

        <div layout="column" class="recipeBodyTile">
          <div flex class="recipeIngredients">
            <h4>Ingredients:</h4>
            <ul ng-repeat="c in b.ingredients">
              <li>{{c.choice}} - {{c.amount}}</li>
            </ul>
          </div>
          <div class="recipeInstructions">
            <h4>Instructions:</h4>
            <p>{{b.instructions}}</p>
          </div>
        </div>

        <md-grid-tile-footer id="editDeleteGridFooter">
          <div>
            <md-button ng-show ='nav.status.username;' ng-click="vm.editRecipe(b._id)">Edit</md-button>
            <md-button ng-show ='nav.status.username;' ng-click="vm.deleteRecipe(b)">Delete</md-button>
          </div>
        </md-grid-tile-footer>

      </md-grid-tile>
    </md-grid-list>
  </md-content>
</div>
