<div ng-controller="ViewCommunityController as vm" ng-cloak>
  <md-content>

  <div style="background-color: rgb(224, 224, 235)" layout="row">
    <div flex="11">
      
    </div>

    <md-subheader flex style="background-color: rgb(224, 224, 235); text-align: center;" class="md-no-sticky">
    <h1 >Community for all things {{vm.communities.name}} related</h1>
    </md-subheader>
    <md-button flex="3" type="button" style="text-align: right; min-width: 10px" ng-click="vm.deleteCommunity()">X</md-button>
    <md-button flex="8" type="button" class="md-flat" ng-click='showEdit = true'> Edit </md-button>

  </div>

  <form ng-init="editedCom = vm.getCopy(com);" ng-show="showEdit" class="container well" ng-submit="vm.editCom(editedCom); showEdit = false;">
    <md-input-container>
      <label>{{vm.communities.name}}</label>
      <input class="form-control" ng-model='editedCom.name' required>
    </md-input-container>


    <div style="text-align: center;">
      <md-button type="submit" class="btn btn-success">Submit</md-button>
      <md-button type="button" class="btn btn-danger" ng-click="showEdit = false;">Cancel</md-button>
    </div>
  </form>



    <div layout="row">
      <div layout-align="center center" flex="30" style="padding: 30px 0px 0px 100px;">
        <div id="recipeAdd">
          <h2>Have a Recipe to Contribute?</h2>
          <md-button class="md-raised" ng-show ='!nav.status.username;' ui-sref='RegLog'> Login/Register </md-button>
          <md-button class="md-raised" ng-show ='nav.status.username;' ng-click="vm.goToAddRecipe()">Add!</md-button>
        </div>
      </div>

      <div flex="10">
      </div>

      <div layout-align="center center" flex="60" style="padding: 30px">
        <div id="recipeDisplay">
          <md-subheader style="background-color: rgb(224, 224, 235); text-align: center; width: 100%; font-size: 20px;" class="md-no-sticky"><h2>Recipes</h2></md-subheader>

            <md-list>
              <md-list-item style="position: relative;" ng-repeat="b in vm.recipes">
                <div class="md-list-item-text" layout="column">
                  <h2>{{b.name}}</h2>

                  <h3>Ingredients:</h3>
                  <br>
                  <section layout="column" layout-wrap>
                    <span ng-repeat="c in b.ingredients">
                      <md-list-item><span style="font-size: 16px; padding-left: 20px;">{{c.choice}}</span>
                        <span>-</span>
                        {{c.amount}}
                      </span>
                    </section>
                    <br>

                    <h3>Instructions:</h3>
                    <p>{{b.instructions}}</p>

                    <span style="display: inline-block; padding-bottom: 30px;">
                      <md-button class="md-raised" ng-click="vm.editRecipe(b._id)">Edit</md-button>

                      <md-button class="md-raised" ng-click="vm.deleteRecipe(b)">Delete</md-button>
                    </span>

                </div>
                <md-divider></md-divider>

              </md-list-item>
            </md-list>
          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>
