#foot {
  background: rgba(0, 0, 0, 0.68);
  height: 36px;
  border-radius: 0px 0px 25px 25px;
}

#editDeleteGridFooter {
  /*background: rgb(224, 224, 235);*/
  background: rgba(0, 0, 0, 0.68);
  border-radius: 0px 0px 25px 25px;
  margin: auto;
  padding-bottom: 18px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}


.list-group-item{
  padding : 20px;
}

.head {
  background: rgba(0, 0, 0, 0.68);
  font-size: 18px;
  height: 72px;
  border-radius: 25px 25px 0px 0px;
}

#comGrid md-grid-tile {
  height: 50px;
}

.recipeBodyTile {
font-size: 16px;
text-align: center;
}

.recipeBodyTile h4 {
  font-size: 20px;
  font-weight: 700;
}

.recipeBodyTile ul {
  list-style-type: none;
  padding-left: -50px;
}

md-grid-tile-header figcaption{
  width: 100%;
}


#foot {
  background: rgba(0, 0, 0, 0.68);
  /*background: rgb(224, 224, 235);*/
  height: 36px;
  border-radius: 0px 0px 25px 25px;
}

md-grid-tile-footer figcaption{
  width: 100%;
}

#fh{
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.tileHeader{
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

/*Maybe?*/
md-grid-tile {
  border-radius: 25px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border: 1px solid #ddd;
  flex-grow: 1;
  width: 33.3333%;
}

.gridButton :hover{
  cursor: pointer;
  box-shadow: 2px 0px 2px 2px black;
  border-radius: 25px 25px 25px 25px;
}

.homeButton :hover{
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.homeButton h1{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 240%;
}

.gridButton figure :hover{
  cursor: pointer;
  box-shadow: none;
  border-radius: none;

}

.zmdi-plus-square {
  color: black;
}

.greyBar .md-subheader-inner{
  padding: 9px 0px 9px 16px
}

a{
  color:#fff;
}
a:visited{
  color: #fff;
}

#addCom {
  color: white;
  font-size: 40%;
   position: absolute;
   top: 40%;
   left: 20%;
   width: 55%;
   letter-spacing: -1px;
   /*text-align: center;*/
  padding: 10px;
}

.userFont{
  font-size: 100%;
}
